li{
    display :inline;
    padding: 10px;
    margin: 10px;
}
img{
    position: absolute;
    right: 40%;
    bottom: 350px;
    height: 250px;
    border-radius: 100%;
    width: 250px;
    border: 2px solid  orangered;
    
}


button{
    border-radius: 5px;
    border-color: white;
}
.first-half{
color: blueviolet;
}




